<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--方式1:-->
	<bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="propertyEditorRegistrars">
			<bean class="com.linran.bean.selfeditor.AddressEditorRegistrar"/>
		</property>
	</bean>
	<!--方式2:-->
<!--	<bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">-->
<!--		<property name="customEditors">-->
<!--			<map>-->
<!--				<entry key="com.linran.bean.selfeditor.Address" value="com.linran.bean.selfeditor.AddressEditor"/>-->
<!--			</map>-->
<!--		</property>-->
<!--	</bean>-->

	<bean id="customer" class="com.linran.bean.selfeditor.Customer">
		<property name="name" value="林然"/>
		<property name="address" value="四川省_成都市_朝阳区"/>
	</bean>
</beans>